body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
}

/* #root {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
} */

#root {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/main_bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#mainContainer {
  background: grey;
  width: 40%;
  height: 80%;
  opacity: 0.5;
  display: grid;
  grid-template-rows: 25% auto;

  /* justify-content: center;
  align-items: center; */
}

#resultPanel {
  background: #000;
  color: #fff;
  text-align: right;
  padding: 0.9rem 1.2rem;
  font-size: 1.7rem;
  font-weight: 700;
}

#buttonWrapper {
  display: grid;
  grid-template-columns: auto;
}

.group-one,
.group-two,
.group-three,
.group-four {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.group-five {
  display: grid;
  grid-template-columns: auto auto auto;
}

.btnInput {
  font-size: 1.2rem;
  width: 100%;
  height: 100%;
}

.btnInput:hover {
  opacity: 0.9;
  cursor: pointer;
}
